<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>冼智铧 - {$keywords}</title>
	{include file="common/meta" /}
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="__STATIC__/index/css/index.css">
	<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="__STATIC__/index/js/index.js"></script>
<style>

</style>
</head>
<body>

	<div class="container">
		{include file="common/top" /}
		<div class="main">
			<div class="main-left">
			{include file="common/left" /}
			</div>
			<div class="main-right">
				<div class="main-right-left">
					<div class="alert-bottom">
						<h4>搜索: {$keywords}</h4>
					</div>
					<div class="content cate_content">
					{volist name="searchares" id="vo"}
						<div class="panel panel-default">
							<div class="panel-heading">
								<a href="/tp5blog/public/index.php/article/{$vo.id}.html">{if condition="$vo['pic']"}<img src="__STATIC__{$vo.pic}" width="100%">{else /}<img src="__STATIC__/error.jpg" width="100%">{/if}</a>
							</div>
							<div class="panel-body dec dec-div">
								<a href="/tp5blog/public/index.php/article/{$vo.id}.html"><h4>{$vo.title}</h4></a>
								<div class="modal-btn" data-toggle="modal" data-target="#myModal" data-id="{$vo.id}">
								<p class="desc_div">{$vo.desc}<a class="down">预览</a></p>	
								<hr>
								<div class="time">
									<i class="glyphicon glyphicon-time"></i> {$vo.time} <i class="jiange"></i>
									<i class="glyphicon glyphicon-user"></i> {$vo.author} <i class="jiange"></i>
									<i class="glyphicon glyphicon glyphicon-tag"></i> 
										<?php
											$arr=explode(',',$vo['keywords']);
											foreach ($arr as $k => $v){
												echo "<a href='/tp5blog/public/index.php/index/search/index?keywords=$v'>$v</a> ";
											}
										?>	
									<i class="jiange"></i>
									<i class="glyphicon glyphicon-comment"></i> {$vo.count} <i class="jiange"></i>
									<i class="glyphicon glyphicon-eye-open"></i> {$vo.click} <i class="jiange"></i>
								</div>
								</div>
							</div>
						</div>
					{/volist}
					</div>
				</div>
				<div class="main-right-right">
				{include file="common/right" /}
				</div>
			</div>
			{include file="common/footer" /}
		</div>
	</div>
	<!-- Modal -->
	<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">

	    </div>
	  </div>
	</div>

</body>
</html>